body{
    font-family: Arial;
    background-color: azure;
}
.container{
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;  
    box-shadow: 0 0 10px rgba(0,0,0,0.2); 
    text-align: center;
}
    
input,button{
    padding:8px;
    margin:10px;
    width: 70%;
}
#result{
    margin-top:20px;
    font-size:20px;}